# Proxmox host IP.
export PVE_IP=

# Kubernetes cluster IPs.
export CONTROL_PLANE_IP=
export K8_SUBNET_CIDR=
export METALLB_IP_RANGE=
export WORKER_1_IP=
export WORKER_2_IP=

# (Optional) Override the default Kubernetes and Talos config paths.
#export KUBECONFIG=
#export TALOSCONFIG=

# Source the virtual environment if it exists
if [ -f ".venv/bin/activate" ]; then
    source .venv/bin/activate
fi
