apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: media
spec:
  type: LoadBalancer
  loadBalancerIP: {{ jellyfin_lb_ip }}
  selector:
    app.kubernetes.io/instance: jellyfin
    app.kubernetes.io/name: jellyfin
  ports:
    - name: http
      port: {{ jellyfin_lb_port }}
      protocol: TCP
      targetPort: http
